[submodule "ParametricDFT.jl"]
	path = ParametricDFT.jl
	url = https://github.com/nzy1997/ParametricDFT.jl.git
[submodule "ParametricDFT-Benchmarks.jl"]
	path = ParametricDFT-Benchmarks.jl
	url = https://github.com/zazabap/ParametricDFT-Benchmarks.jl.git
[submodule "pdft"]
	path = pdft
	url = https://github.com/zazabap/pdft.git
[submodule "pdft-benchmarks"]
	path = pdft-benchmarks
	url = https://github.com/zazabap/pdft-benchmarks.git
